<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
  <h3 th:unless="${request.remoteUser}">
      <i style="color: red">Chưa đăng nhập</i>
  </h3>

    <th:block th:if="${request.remoteUser}">
        <h3 style="color: blue">Authentication information</h3>
        <ul>
            <li>Username <b>[[${request.remoteUser}]]</b></li>
            <li>is Admin <b>[[${request.isUserInRole('ADMIN')}]]</b></li>
        </ul>
        <ul th:object="${request.userPrincipal}">
            <li>Username <b>[[*{name}]]</b></li>
            <li>Roles <b>[[*{authorities}]]</b></li>
        </ul>
    </th:block>
</main>
</body>
</html>